$main_200: #eaf2f5;
$main_300: #DAE6EB;
$main_400: #A2B0BF;
$main_500: #6B7B93;
$main_600: #334567;

$red_400: #F24B4B;
$green_400: #66AF59;

$white_400: #F8F8F8;

$black_300: #AFAFAF;
$black_400: #434343;